<div class="dashboard-layout">
  <!-- Menú lateral izquierdo  -->
  <aside class="sidebar">
    <h1 class="brand-title">WeatherPlant</h1>
    <nav class="menu-nav">
      <button class="menu-btn"><span class="icon">⛅</span> Clima</button>
      <button class="menu-btn"><span class="icon">🌱</span> Mis Plantas</button>
      <button class="menu-btn active"><span class="icon">➕</span> Agregar Planta</button>
      <button class="menu-btn"><span class="icon">📋</span> Historial</button>
    </nav>
  </aside>

  
  <main class="main-content">

    <app-nueva-planta></app-nueva-planta>
  </main>
</div>