<div class="container" [ngClass]="{'sign-up-mode': isSignUpMode}">
  <div class="forms-container">
    <div class="signin-signup">
      
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="sign-in-form">
        <h2 class="title">Iniciar Sesión</h2>
        
        <div class="input-field">
          <input type="email" placeholder="Correo Electrónico" formControlName="email" />
        </div>
        
        <div class="input-field">
          <input type="password" placeholder="Contraseña" formControlName="password" />
        </div>
        
        <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
        <button type="submit" class="btn solid">Iniciar Sesión</button>
      </form>

      <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" class="sign-up-form">
        <h2 class="title">Registrarse</h2>
        <div class="social-media">
          <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-tiktok"></i></a>
        </div>
        
        <div class="input-field">
          <input type="text" placeholder="Nombre Completo" formControlName="nombre" />
        </div>
        
        <div class="input-field">
          <input type="email" placeholder="Correo Electrónico" formControlName="email" />
        </div>
        
        <div class="input-field">
          <input type="password" placeholder="Contraseña" formControlName="password" />
        </div>

        <div class="input-field">
          <input type="text" placeholder="Ciudad / Ubicación (Para Clima)" formControlName="ubicacion" />
        </div>
        
        <button type="submit" class="btn solid">Registrarse</button>
      </form>

    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>¡Hola!</h3>
        <p>Regístrese con sus datos personales para usar todas las funciones del sitio.</p>
        <button class="btn transparent" (click)="toggleMode(true)">Registrarse</button>
      </div>
    </div>
    
    <div class="panel right-panel">
      <div class="content">
        <h3>¡Bienvenido!</h3>
        <p>Ingrese sus datos personales para usar todas las funciones del sitio.</p>
        <button class="btn transparent" (click)="toggleMode(false)">Iniciar Sesión</button>
      </div>
    </div>
  </div>
</div>